In [1]:
import pandas as pd
import re
import nltk
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.corpus import wordnet
from nltk.tokenize import word_tokenize

# download necessary NLTK packages
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Kumar\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Kumar\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Kumar\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [2]:

# load the dataset
df1 = pd.read_csv("wiki_movie_plots_deduped.csv")
df1

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...
...,...,...,...,...,...,...,...,...
34881,2014,The Water Diviner,Turkish,Director: Russell Crowe,Director: Russell Crowe\r\nCast: Russell Crowe...,unknown,https://en.wikipedia.org/wiki/The_Water_Diviner,"The film begins in 1919, just after World War ..."
34882,2017,Çalgı Çengi İkimiz,Turkish,Selçuk Aydemir,"Ahmet Kural, Murat Cemcir",comedy,https://en.wikipedia.org/wiki/%C3%87alg%C4%B1_...,"Two musicians, Salih and Gürkan, described the..."
34883,2017,Olanlar Oldu,Turkish,Hakan Algül,"Ata Demirer, Tuvana Türkay, Ülkü Duru",comedy,https://en.wikipedia.org/wiki/Olanlar_Oldu,"Zafer, a sailor living with his mother Döndü i..."
34884,2017,Non-Transferable,Turkish,Brendan Bradley,"YouTubers Shanna Malcolm, Shira Lazar, Sara Fl...",romantic comedy,https://en.wikipedia.org/wiki/Non-Transferable...,The film centres around a young woman named Am...
34885,2017,İstanbul Kırmızısı,Turkish,Ferzan Özpetek,"Halit Ergenç, Tuba Büyüküstün, Mehmet Günsür, ...",romantic,https://en.wikipedia.org/wiki/%C4%B0stanbul_K%...,The writer Orhan Şahin returns to İstanbul aft...

In [3]:
df = pd.DataFrame()
df["text"] = df1["Plot"]

In [4]:
df

                                                    text
0      A bartender is working at a saloon, serving dr...
1      The moon, painted with a smiling face hangs ov...
2      The film, just over a minute long, is composed...
3      Lasting just 61 seconds and consisting of two ...
4      The earliest known adaptation of the classic f...
...                                                  ...
34881  The film begins in 1919, just after World War ...
34882  Two musicians, Salih and Gürkan, described the...
34883  Zafer, a sailor living with his mother Döndü i...
34884  The film centres around a young woman named Am...
34885  The writer Orhan Şahin returns to İstanbul aft...

[34886 rows x 1 columns]

In [5]:
# function to map NLTK POS tags to WordNet POS tags
def get_wordnet_pos(word):
    """
    Map NLTK POS tag to WordNet POS tag
    """
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

In [6]:

# remove any leading or trailing whitespaces
df["text"] = df["text"].str.strip()

# remove any URL links
df["text"] = df["text"].apply(lambda x: re.sub(r'http\S+', '', x))

# remove any mentions or tags
df["text"] = df["text"].apply(lambda x: re.sub(r'@\S+', '', x))

# remove any hashtags
df["text"] = df["text"].apply(lambda x: re.sub(r'#\S+', '', x))

# remove any non-alphanumeric characters except spaces
df["text"] = df["text"].apply(lambda x: re.sub(r'[^\w\s]+', '', x))

# convert text to lowercase
df["text"] = df["text"].str.lower()

# remove any extra whitespaces
df["text"] = df["text"].apply(lambda x: re.sub(r'\s+', ' ', x))

# tokenize the text
df["tokens"] = df["text"].apply(word_tokenize)

# lemmatize the tokens
lemmatizer = WordNetLemmatizer()
df["lemmatized_tokens"] = df["tokens"].apply(lambda x: [lemmatizer.lemmatize(word, get_wordnet_pos(word)) for word in x])

# stem the lemmatized tokens
stemmer = SnowballStemmer("english")
df["stemmed_tokens"] = df["lemmatized_tokens"].apply(lambda x: [stemmer.stem(word) for word in x])

# join the stemmed tokens back into text
df["preprocessed_text"] = df["stemmed_tokens"].apply(lambda x: ' '.join(x))

# save the preprocessed dataset
df.to_csv("preprocessed_text.csv", index=False)

In [13]:
df

0        a bartend be work at a saloon serv drink to cu...
1        the moon paint with a smile face hang over a p...
2        the film just over a minut long be compos of t...
3        last just 61 second and consist of two shot th...
4        the earli know adapt of the classic fairytal t...
                               ...
34881    the film begin in 1919 just after world war i ...
34882    two musician salih and gürkan describ the adve...
34883    zafer a sailor live with his mother döndü in a...
34884    the film centr around a young woman name ami t...
34885    the writer orhan şahin return to i̇stanbul aft...
Name: preprocessed_text, Length: 34886, dtype: object

In [15]:
df[0]

'a bartend be work at a saloon serv drink to custom after he fill a stereotyp irish man bucket with beer carri nation and her follow burst insid they assault the irish man pull his hat over his eye and then dump the beer over his head the group then begin wreck the bar smash the fixtur mirror and break the cash regist the bartend then spray seltzer water in nation face befor a group of policeman appear and order everybodi to leave1'

In [13]:
import torch
import pandas as pd
from transformers import AutoTokenizer, AutoModelForSequenceClassification

In [14]:
# load the preprocessed dataset
df = pd.read_csv("Preprocessed.csv")
df

,text,tokens,lemmatized_tokens,stemmed_tokens,preprocessed_text
0,after world war ii exserviceman joe barrett hu...,"['after', 'world', 'war', 'ii', 'exserviceman'...","['after', 'world', 'war', 'ii', 'exserviceman'...","['after', 'world', 'war', 'ii', 'exserviceman'...",after world war ii exserviceman joe barrett hu...
1,jane and alan palmer scott and kennedy are dri...,"['jane', 'and', 'alan', 'palmer', 'scott', 'an...","['jane', 'and', 'alan', 'palmer', 'scott', 'an...","['jane', 'and', 'alan', 'palmer', 'scott', 'an...",jane and alan palmer scott and kennedi be driv...
2,the film tells the story of the us treasury de...,"['the', 'film', 'tells', 'the', 'story', 'of',...","['the', 'film', 'tell', 'the', 'story', 'of', ...","['the', 'film', 'tell', 'the', 'stori', 'of', ...",the film tell the stori of the u treasuri depa...
3,the plot revolved around the tulsa oklahoma oi...,"['the', 'plot', 'revolved', 'around', 'the', '...","['the', 'plot', 'revolve', 'around', 'the', 't...","['the', 'plot', 'revolv', 'around', 'the', 'tu...",the plot revolv around the tulsa oklahoma oil ...
4,in 1949 former us army air forces officer harv...,"['in', '1949', 'former', 'us', 'army', 'air', ...","['in', '1949', 'former', 'u', 'army', 'air', '...","['in', '1949', 'former', 'u', 'armi', 'air', '...",in 1949 former u armi air forc offic harvey st...
5,frank warren is a treasury agent assigned to p...,"['frank', 'warren', 'is', 'a', 'treasury', 'ag...","['frank', 'warren', 'be', 'a', 'treasury', 'ag...","['frank', 'warren', 'be', 'a', 'treasuri', 'ag...",frank warren be a treasuri agent assign to put...
6,tony reagan scott brady a former chicago mobst...,"['tony', 'reagan', 'scott', 'brady', 'a', 'for...","['tony', 'reagan', 'scott', 'brady', 'a', 'for...","['toni', 'reagan', 'scott', 'bradi', 'a', 'for...",toni reagan scott bradi a former chicago mobst...
7,one day in contemporary mexicali a poker game ...,"['one', 'day', 'in', 'contemporary', 'mexicali...","['one', 'day', 'in', 'contemporary', 'mexicali...","['one', 'day', 'in', 'contemporari', 'mexicali...",one day in contemporari mexicali a poker game ...
8,the story draws on events that occurred as par...,"['the', 'story', 'draws', 'on', 'events', 'tha...","['the', 'story', 'draw', 'on', 'event', 'that'...","['the', 'stori', 'draw', 'on', 'event', 'that'...",the stori draw on event that occur a part of t...
9,bugs bunny is exploring dark africa a short wi...,"['bugs', 'bunny', 'is', 'exploring', 'dark', '...","['bug', 'bunny', 'be', 'explore', 'dark', 'afr...","['bug', 'bunni', 'be', 'explor', 'dark', 'afri...",bug bunni be explor dark africa a short witch ...
10,ann sutton gene tierney the wife of a successf...,"['ann', 'sutton', 'gene', 'tierney', 'the', 'w...","['ann', 'sutton', 'gene', 'tierney', 'the', 'w...","['ann', 'sutton', 'gene', 'tierney', 'the', 'w...",ann sutton gene tierney the wife of a success ...
11,arthur cody jarrett is a ruthless psychotic cr...,"['arthur', 'cody', 'jarrett', 'is', 'a', 'ruth...","['arthur', 'cody', 'jarrett', 'be', 'a', 'ruth...","['arthur', 'codi', 'jarrett', 'be', 'a', 'ruth...",arthur codi jarrett be a ruthless psychot crim...
12,set and filmed on location in the tenement sec...,"['set', 'and', 'filmed', 'on', 'location', 'in...","['set', 'and', 'film', 'on', 'location', 'in',...","['set', 'and', 'film', 'on', 'locat', 'in', 't...",set and film on locat in the tenement section ...
13,a housewife day is confronted during her daily...,"['a', 'housewife', 'day', 'is', 'confronted', ...","['a', 'housewife', 'day', 'be', 'confront', 'd...","['a', 'housewif', 'day', 'be', 'confront', 'du...",a housewif day be confront dure her daili chor...
14,in a story told in a series of flashbacks sing...,"['in', 'a', 'story', 'told', 'in', 'a', 'serie...","['in', 'a', 'story', 'told', 'in', 'a', 'serie...","['in', 'a', 'stori', 'told', 'in', 'a', 'seri'...",in a stori told in a seri of flashback singer ...
15,after the war granger college has a lot of stu...,"['after', 'the', 'war', 'granger', 'college', ...","['after', 'the', 'war', 'granger', 'college', ...","['after', 'the', 'war', 'granger', 'colleg', '...",after the war granger colleg have a lot of stu...
16,determined to reform from their outlaw ways co...,"['determined', 'to', 'reform', 'from', 'their'...","['determine', 'to', 'reform', 'from', 'their',...","['determin', 'to', 'reform', 'from', 'their', ...",determin to reform from their outlaw way cole ...
17,boston 1924 a starstruck hannah adams waits ou...,"['boston', '1924', 'a', 'starstruck', 'hannah'...","['boston', '1924', 'a', 'starstruck', 'hannah'...","['boston', '1924', 'a', 'starstruck', 'hannah'...",boston 1924 a starstruck hannah adam wait outs...
18,the brooklyn ice palace shuts down after the i...,"['the', 'brooklyn', 'ice', 'palace', 'shuts', ...","['the', 'brooklyn', 'ice', 'palace', 'shuts', ...","['the', 'brooklyn', 'ice', 'palac', 'shut', 'd...",the brooklyn ice palac shut down after the ice...
19,knowing how much telephone repairman mal grang...,"['knowing', 'how', 'much', 'telephone', 'repai...","['know', 'how', 'much', 'telephone', 'repairma...","['know', 'how', 'much', 'telephon', 'repairman...",know how much telephon repairman mal granger e...
20,bud jones bud abbott and lou hotchkiss lou cos...,"['bud', 'jones', 'bud', 'abbott', 'and', 'lou'...","['bud', 'jones', 'bud', 'abbott', 'and', 'lou'...","['bud', 'jone', 'bud', 'abbott', 'and', 'lou',...",bud jone bud abbott and lou hotchkiss lou cost...
21,after the end of world war ii jean madison wan...,"['after', 'the', 'end', 'of', 'world', 'war', ...","['after', 'the', 'end', 'of', 'world', 'war', ...","['after', 'the', 'end', 'of', 'world', 'war', ...",after the end of world war ii jean madison wan...
22,margo channing bette davis is one of the bigge...,"['margo', 'channing', 'bette', 'davis', 'is', ...","['margo', 'channing', 'bette', 'davis', 'be', ...","['margo', 'chan', 'bett', 'davi', 'be', 'one',...",margo chan bett davi be one of the big star on...
23,in april 1942 in the philippines an american m...,"['in', 'april', '1942', 'in', 'the', 'philippi...","['in', 'april', '1942', 'in', 'the', 'philippi...","['in', 'april', '1942', 'in', 'the', 'philippi...",in april 1942 in the philippin an american mot...
24,mastermind dave purvis william talman is a pro...,"['mastermind', 'dave', 'purvis', 'william', 't...","['mastermind', 'dave', 'purvis', 'william', 't...","['mastermind', 'dave', 'purvi', 'william', 'ta...",mastermind dave purvi william talman be a prof...
25,when criminal mastermind erwin doc riedenschne...,"['when', 'criminal', 'mastermind', 'erwin', 'd...","['when', 'criminal', 'mastermind', 'erwin', 'd...","['when', 'crimin', 'mastermind', 'erwin', 'doc...",when crimin mastermind erwin doc riedenschneid...
26,the film is set at a united states army base i...,"['the', 'film', 'is', 'set', 'at', 'a', 'unite...","['the', 'film', 'be', 'set', 'at', 'a', 'unite...","['the', 'film', 'be', 'set', 'at', 'a', 'unit'...",the film be set at a unit state armi base in k...
27,lex luthor the atom man invents a number of de...,"['lex', 'luthor', 'the', 'atom', 'man', 'inven...","['lex', 'luthor', 'the', 'atom', 'man', 'inven...","['lex', 'luthor', 'the', 'atom', 'man', 'inven...",lex luthor the atom man invent a number of dea...
28,in 17thcentury colonial argentina while trying...,"['in', '17thcentury', 'colonial', 'argentina',...","['in', '17thcentury', 'colonial', 'argentina',...","['in', '17thcenturi', 'coloni', 'argentina', '...",in 17thcenturi coloni argentina while tri to f...
29,bob corey gordon macrae is an american soldier...,"['bob', 'corey', 'gordon', 'macrae', 'is', 'an...","['bob', 'corey', 'gordon', 'macrae', 'be', 'an...","['bob', 'corey', 'gordon', 'macra', 'be', 'an'...",bob corey gordon macra be an american soldier ...
30,zarra montalvo is the daughter of an american ...,"['zarra', 'montalvo', 'is', 'the', 'daughter',...","['zarra', 'montalvo', 'be', 'the', 'daughter',...","['zarra', 'montalvo', 'be', 'the', 'daughter',...",zarra montalvo be the daughter of an american ...
31,the notorious attempt by swindler james reavis...,"['the', 'notorious', 'attempt', 'by', 'swindle...","['the', 'notorious', 'attempt', 'by', 'swindle...","['the', 'notori', 'attempt', 'by', 'swindler',...",the notori attempt by swindler jame reavi to c...
32,the mine owner of the el coronado mime is ambu...,"['the', 'mine', 'owner', 'of', 'the', 'el', 'c...","['the', 'mine', 'owner', 'of', 'the', 'el', 'c...","['the', 'mine', 'owner', 'of', 'the', 'el', 'c...",the mine owner of the el coronado mime be ambu...
33,childhood friends rocky barnes stevens and dan...,"['childhood', 'friends', 'rocky', 'barnes', 's...","['childhood', 'friend', 'rocky', 'barnes', 'st...","['childhood', 'friend', 'rocki', 'barn', 'stev...",childhood friend rocki barn steven and dan pur...
34,needing to get away from hunters bugs digs a t...,"['needing', 'to', 'get', 'away', 'from', 'hunt...","['need', 'to', 'get', 'away', 'from', 'hunter'...","['need', 'to', 'get', 'away', 'from', 'hunter'...",need to get away from hunter bug dig a tunnel ...
35,offduty american airmen of the 19th troop carr...,"['offduty', 'american', 'airmen', 'of', 'the',...","['offduty', 'american', 'airman', 'of', 'the',...","['offduti', 'american', 'airman', 'of', 'the',...",offduti american airman of the 19th troop carr...
36,the film opens in 1900 as roberto colombo an i...,"['the', 'film', 'opens', 'in', '1900', 'as', '...","['the', 'film', 'open', 'in', '1900', 'a', 'ro...","['the', 'film', 'open', 'in', '1900', 'a', 'ro...",the film open in 1900 a roberto colombo an ita...
37,demobilised after world war ii mike alexander ...,"['demobilised', 'after', 'world', 'war', 'ii',...","['demobilise', 'after', 'world', 'war', 'ii', ...","['demobilis', 'after', 'world', 'war', 'ii', '...",demobilis after world war ii mike alexand purs...
38,the story takes place in england two centuries...,"['the', 'story', 'takes', 'place', 'in', 'engl...","['the', 'story', 'take', 'place', 'in', 'engla...","['the', 'stori', 'take', 'place', 'in', 'engla...",the stori take place in england two centuri af...
39,gloria dell arrives in a western town looking ...,"['gloria', 'dell', 'arrives', 'in', 'a', 'west...","['gloria', 'dell', 'arrives', 'in', 'a', 'west...","['gloria', 'dell', 'arriv', 'in', 'a', 'wester...",gloria dell arriv in a western town look for a...
40,sach develops an uncanny ability to sing after...,"['sach', 'develops', 'an', 'uncanny', 'ability...","['sach', 'develops', 'an', 'uncanny', 'ability...","['sach', 'develop', 'an', 'uncanni', 'abil', '...",sach develop an uncanni abil to sing after hav...
41,daffy is enjoying his daffy nature around the ...,"['daffy', 'is', 'enjoying', 'his', 'daffy', 'n...","['daffy', 'be', 'enjoy', 'his', 'daffy', 'natu...","['daffi', 'be', 'enjoy', 'his', 'daffi', 'natu...",daffi be enjoy his daffi natur around the fore...

In [15]:

# load the BERT tokenizer and model
tokenizer = AutoTokenizer.from_pretrained('bert-base-uncased')
model = AutoModelForSequenceClassification.from_pretrained('bert-base-uncased', num_labels=2)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForSequenceClassification: ['cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.decoder.weight', 'cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.bias']
- This IS expected if you are initializing BertForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [16]:

# define device (GPU if available, otherwise CPU)
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

# move the model to the device
model = model.to(device)

# set the model to evaluation mode
model.eval()

BertForSequenceClassification(
  (bert): BertModel(
    (embeddings): BertEmbeddings(
      (word_embeddings): Embedding(30522, 768, padding_idx=0)
      (position_embeddings): Embedding(512, 768)
      (token_type_embeddings): Embedding(2, 768)
      (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
      (dropout): Dropout(p=0.1, inplace=False)
    )
    (encoder): BertEncoder(
      (layer): ModuleList(
        (0-11): 12 x BertLayer(
          (attention): BertAttention(
            (self): BertSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
            (output): BertSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
          )
          (intermediate): BertIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
            (intermediate_act_fn): GELUActivation()
          )
          (output): BertOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
    )
    (pooler): BertPooler(
      (dense): Linear(in_features=768, out_features=768, bias=True)
      (activation): Tanh()
    )
  )
  (dropout): Dropout(p=0.1, inplace=False)
  (classifier): Linear(in_features=768, out_features=2, bias=True)
)

In [17]:

# define function to encode text with BERT tokenizer and convert to tensor
# define function to encode text with BERT tokenizer and convert to tensor
def tokenize_and_convert_to_tensor(text):
    # split text sequence into smaller sub-sequences with maximum length of 512 tokens
    sub_texts = [text[i:i+512] for i in range(0, len(text), 512)]
    
    # encode each sub-sequence separately
    encoded_tensors = []
    for sub_text in sub_texts:
        encoded = tokenizer.encode_plus(sub_text, add_special_tokens=True, max_length=512, padding='max_length', return_attention_mask=True, return_tensors='pt')
        encoded_tensors.append(encoded)
    
    # concatenate the encoded tensors along the batch dimension
    input_ids = torch.cat([t['input_ids'] for t in encoded_tensors], dim=0).to(device)
    attention_mask = torch.cat([t['attention_mask'] for t in encoded_tensors], dim=0).to(device)
    
    return input_ids, attention_mask


# define function to make predictions with BERT model
def predict_with_model(text):
    input_ids, attention_mask = tokenize_and_convert_to_tensor(text)
    with torch.no_grad():
        output = model(input_ids, attention_mask)
    return output[0][0][1].item()

In [18]:

# create new column in dataset with anomaly scores
df['anomaly_score'] = df['preprocessed_text'].apply(predict_with_model)

In [19]:

# define function to scale anomaly scores to range [0, 1]
def scale_anomaly_score(score):
    return (score - df['anomaly_score'].min()) / (df['anomaly_score'].max() - df['anomaly_score'].min())

# create new column in dataset with scaled anomaly scores
df['scaled_anomaly_score'] = df['anomaly_score'].apply(scale_anomaly_score)

# sort dataset by scaled anomaly scores in descending order
df = df.sort_values('scaled_anomaly_score', ascending=False)

# print the top 10 anomalies
print(df.head(10))

                                                 text  \
32  the mine owner of the el coronado mime is ambu...
14  in a story told in a series of flashbacks sing...
0   after world war ii exserviceman joe barrett hu...
5   frank warren is a treasury agent assigned to p...
33  childhood friends rocky barnes stevens and dan...
13  a housewife day is confronted during her daily...
31  the notorious attempt by swindler james reavis...
28  in 17thcentury colonial argentina while trying...
15  after the war granger college has a lot of stu...
10  ann sutton gene tierney the wife of a successf...

                                               tokens  \
32  ['the', 'mine', 'owner', 'of', 'the', 'el', 'c...
14  ['in', 'a', 'story', 'told', 'in', 'a', 'serie...
0   ['after', 'world', 'war', 'ii', 'exserviceman'...
5   ['frank', 'warren', 'is', 'a', 'treasury', 'ag...
33  ['childhood', 'friends', 'rocky', 'barnes', 's...
13  ['a', 'housewife', 'day', 'is', 'confronted', ...
31  ['the', 'notorious', 'attempt', 'by', 'swindle...
28  ['in', '17thcentury', 'colonial', 'argentina',...
15  ['after', 'the', 'war', 'granger', 'college', ...
10  ['ann', 'sutton', 'gene', 'tierney', 'the', 'w...

                                    lemmatized_tokens  \
32  ['the', 'mine', 'owner', 'of', 'the', 'el', 'c...
14  ['in', 'a', 'story', 'told', 'in', 'a', 'serie...
0   ['after', 'world', 'war', 'ii', 'exserviceman'...
5   ['frank', 'warren', 'be', 'a', 'treasury', 'ag...
33  ['childhood', 'friend', 'rocky', 'barnes', 'st...
13  ['a', 'housewife', 'day', 'be', 'confront', 'd...
31  ['the', 'notorious', 'attempt', 'by', 'swindle...
28  ['in', '17thcentury', 'colonial', 'argentina',...
15  ['after', 'the', 'war', 'granger', 'college', ...
10  ['ann', 'sutton', 'gene', 'tierney', 'the', 'w...

                                       stemmed_tokens  \
32  ['the', 'mine', 'owner', 'of', 'the', 'el', 'c...
14  ['in', 'a', 'stori', 'told', 'in', 'a', 'seri'...
0   ['after', 'world', 'war', 'ii', 'exserviceman'...
5   ['frank', 'warren', 'be', 'a', 'treasuri', 'ag...
33  ['childhood', 'friend', 'rocki', 'barn', 'stev...
13  ['a', 'housewif', 'day', 'be', 'confront', 'du...
31  ['the', 'notori', 'attempt', 'by', 'swindler',...
28  ['in', '17thcenturi', 'coloni', 'argentina', '...
15  ['after', 'the', 'war', 'granger', 'colleg', '...
10  ['ann', 'sutton', 'gene', 'tierney', 'the', 'w...

                                    preprocessed_text  anomaly_score  \
32  the mine owner of the el coronado mime be ambu...       0.130156
14  in a stori told in a seri of flashback singer ...       0.108854
0   after world war ii exserviceman joe barrett hu...       0.108484
5   frank warren be a treasuri agent assign to put...       0.088831
33  childhood friend rocki barn steven and dan pur...       0.078324
13  a housewif day be confront dure her daili chor...       0.069387
31  the notori attempt by swindler jame reavi to c...       0.068655
28  in 17thcenturi coloni argentina while tri to f...       0.046811
15  after the war granger colleg have a lot of stu...       0.046680
10  ann sutton gene tierney the wife of a success ...       0.045219

    scaled_anomaly_score
32              1.000000
14              0.920803
0               0.919427
5               0.846365
33              0.807300
13              0.774075
31              0.771353
28              0.690143
15              0.689656
10              0.684223